@keyframes titleAnimation {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

@keyframes gradientColorAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes boxShadowHover {
  0% {
     box-shadow:  rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  }
  100% {
    box-shadow:  rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 28px 43px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}

@keyframes titleTranslateHover {
  0% {
    transform: translateY(0rem) scale(0);
  }
  100% {
  transform:translateY(1.2rem) scale(1.1);
  }
}

@keyframes overflowScrollingLoader{
  0% {
    overflow: hidden;
  }
  99%{
    overflow: hidden;
  }
  100% {
    overflow: unset;
  }
}

@keyframes loaderBackgroundFadeOut {
  0%{
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
opacity: 0;
}
}

@keyframes waveLoader {
    0%{
    transform: scaleY(1);
    }
  50%{
    transform: scaleY(-1) ;
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes loaderTranslate {
  0% {
    transform: translateY(0);
  }
  48%{
    transform: translateY(0);
  }
  80%{
    transform: translateY(33%);
  }
  100% {
    transform: translateY(100%);
  }
}