@import '../Utils/variables';

@mixin fontTitle {
  font-family: $fontTertiary;
  color: $fontColorPrimary;
  font-weight: 400;
}

@mixin fontArticle {
font-family: $fontSecondary;
  color: $fontColorPrimary;
}

@mixin fontSubtitle {
font-family:  $fontPrimary;
  color: $fontColorPrimary;
}

@mixin scaleHover {
  transform: scale(1);
  transition: 200ms ease-in;
  &:hover {
    transform: scale(1.05);
    transition: all 400ms ease-out;
  }
}

@mixin buttonGradientHover {
      background-image: $gradient;
      background-clip: border-box;
      background-size: 100% auto;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      transform: scale(1.1);
      transition: all 400ms ease-out;
}

@mixin cardMediaQueries {
  @media(min-width: 320px) {
    width: 100%;
  }
  @media(max-width: $breakpointTablet) {
    width: 100%;
    &:hover {
      h2 {
        background-image: $gradient;
        background-clip: border-box;
        background-size: 100% auto;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        transform: scale(1.1);
        transition: all 400ms ease-out;
      }
    }
  }
  display: flex;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  background: url("../asset/articlebg.webp") no-repeat fixed;
  border-radius: $borderRadiusArticles;
  box-shadow: $boxShadowArticle;
  transform: scale(1);
  transition: 200ms ease-in;
}

@mixin loaderSquare {
  position: fixed;
  z-index: 9999;
  width: 2.5rem;
  height: 2.5rem;
  background: $gradient;
}

@mixin loaderDot {
  position: fixed;
  z-index: 9999;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  background: $gradient;
}

@mixin sectionTranslate {
  transition: All 800ms ease-out;
  transform: translateX(105%);
}