@import '../Utils/variables';

@mixin fontTitle {
  font-family: $fontTertiary;
  color: $fontColorPrimary;
}

@mixin fontArticle {
font-family: $fontSecondary;
  color: $fontColorPrimary;
}

@mixin fontSubtitle {
font-family:  $fontPrimary;
  color: $fontColorPrimary;
}

@mixin scaleHover {
  transform: scale(1);
  transition: 200ms ease-in;
  &:hover {
    transform: scale(1.05);
    transition: all 400ms ease-out;
  }
}
