@import '../Utils/variables';

@mixin fontTitle {
  font-family: $fontTertiary;
  color: $fontColorPrimary;
}

@mixin fontArticle {
font-family: $fontSecondary;
  color: $fontColorPrimary;
}

@mixin fontSubtitle {
font-family:  $fontPrimary;
  color: $fontColorPrimary;
}