$fontPrimary: 'Cascadia Code', sans-serif;
$fontSecondary : 'Ubuntu', sans-serif;
$fontTertiary : 'Daniel', sans-serif;

$fontColorPrimary: #000000;

$titleGradient: linear-gradient(-425deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%);