@import '../Utils/variables.scss';
@import '../Utils/mixins.scss';
@import '../Utils/_keyframes.scss';

*{
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ff9966, #ff5e62);
  animation: overflowScrollingLoader 3000ms forwards;

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #1f1c2c, #928dab);
      z-index: 9997;
      animation: loaderTranslate 3000ms forwards;
    }
  }

  .loader__wave1, .loader__wave2, .loader__wave3 {
    position: fixed;
    z-index: 9998;
    width: .5rem;
    height: 3.5rem;
    border-radius: .5rem;
    background: $gradient;
    pointer-events: none;
  }

.loader__icon {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  top: 37%;
  left: 37.5%;
  animation: loaderBackgroundFadeOut 2500ms forwards;
}

  .loader__wave1 {
    top: 47%;
    left: 50%;
    animation: waveLoader 2000ms  both 400ms, loaderBackgroundFadeOut 2500ms forwards;
  }
  .loader__wave2 {
    top: 47%;
    left: 50.5%;
    animation: waveLoader 2000ms  both 200ms , loaderBackgroundFadeOut 2500ms forwards;
  }
  .loader__wave3{
    top: 47%;
    left: 49.5%;
    animation: waveLoader 2000ms  both, loaderBackgroundFadeOut 2500ms forwards;
  }

}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  z-index: 9996;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: $borderRadiusArticles;
  box-shadow: $boxShadowArticle;
  @include scaleHover;
}

#gitHubLink {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  z-index: 9996;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: $borderRadiusArticles;
  box-shadow: $boxShadowArticle;
  @include scaleHover;
}