@import "../Utils/variables.scss";
@import "../Utils/mixins.scss";

footer {
  background: url("../asset/articlebg.webp") no-repeat fixed;
  padding: 0 20rem 0 20rem ;
  nav {
    margin: 2rem;
    h2{
      margin-left: 8rem;
      width: 100%;
      @include fontTitle;
      font-size: 2rem;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      li {
        @include  fontArticle;
        list-style: none;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: $fontColorPrimary;
        }
        img {
          width: 90px;
          height: 90px;
          margin-right: 1rem;
        }
      }
    }
  }
}