@import "../Utils/variables.scss";
@import "../Utils/mixins.scss";

footer {
  @media (max-width: $breakpointMobile) {
    padding: unset;
    font-size: 1.5rem;
  }
  background: url("../asset/articlebg.webp") no-repeat fixed;
  padding: 0 20rem 0 20rem;
  nav {
    margin: 2rem;
    h2 {
      @media (max-width: $breakpointMobile) {
        margin-left: 1rem;
      }
      margin-left: 8rem;
      width: 100%;
      @include fontTitle;
      font-size: 2rem;
    }
    ul {
      @media (max-width: $breakpointMobile) {
        flex-flow: column;
        align-items: flex-start;
        padding-inline-start: 0;
      }
      display: flex;
      align-items: center;
      justify-content: space-around;
      li {
        @include fontArticle;
        list-style: none;
        &:hover {
          @include scaleHover;
          background-image: $gradient;
          background-clip: border-box;
          background-size: 160% auto;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          transition: all 400ms ease-out;
          box-shadow: $boxShadowArticle;
          border-radius: 0.5rem;
        }
        a {
          margin-right: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: $fontColorPrimary;
        }
        img {
          width: 90px;
          height: 90px;
          margin-right: 1rem;
        }
      }
    }
  }
}