@import '../Utils/variables.scss';
@import '../Utils/mixins.scss';
@import '../Utils/_keyframes.scss';

main {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  flex-flow: wrap;
  width: 100%;
  overflow: hidden;
  ul {
    padding-inline-start: 0;
    li {
      list-style: none;
      padding-inline-start: 2rem;
      margin-bottom: 1.5rem;
      line-height: 2.5rem;
    }
  }
  h2 {
    width: 100%;
    @include fontTitle;
    font-size: 3rem;
  }
  article {
    display: flex;
    flex-flow: column;
    margin-bottom: 3rem;
    background: url("../asset/articlebg.webp") no-repeat fixed;
    border-radius: $borderRadiusArticles;
    box-shadow: $boxShadowArticle;
    @include fontArticle;
    font-size: 1.5rem;
  }
}

.mainNav{
  position: fixed;
  top: 23rem;
  left: 2rem;
  display: flex;
  justify-content: flex-start;
  z-index: 9996;

  &__list {
    padding-inline-start: 0;
    display: flex;
    flex-flow: column;
    &__button {
      background: url("../asset/articlebg.webp") no-repeat fixed;
      cursor: pointer;
      border-radius: .5rem;
      padding: 1rem;
      border: none;
      box-shadow: $boxShadow;
      @include scaleHover;
      @include fontTitle;
      font-size: 2.5rem;

      &:hover {
        @include buttonGradientHover;
        animation: boxShadowHover 300ms forwards;
      }
    }
  }
}

.training, .experience, .language, .softSkills, .interest {
  transform: translateX(200%);
  max-width: 1440px;
  width: 80%;
  margin-left: 30rem;
  margin-right: 3rem;
}


