@import '../Utils/variables.scss';
@import '../Utils/mixins.scss';
@import '../Utils/_keyframes.scss';

main {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  flex-flow: wrap;
  width: 100%;
  min-height: 30rem;
  ul {
    padding-inline-start: 0;
    li {
      list-style: none;
      padding-inline-start: 2rem;
      margin-bottom: 1.5rem;
      line-height: 2.5rem;
    }
  }
  h2 {
    width: 100%;
    @include fontTitle;
    font-size: 3rem;
    padding: 2rem;
  }

  article {
    @media(min-width: $breakpointMobile) {
      width: 100%;
      margin: auto;
      margin-bottom: 2rem;
    }
    overflow: hidden;
    display: flex;
    flex-flow: column;
    margin: auto;
    margin-bottom: 3rem;
    background: url("../asset/articlebg.webp") no-repeat fixed;
    border-radius: $borderRadiusArticles;
    box-shadow: $boxShadowArticle;
    @include fontArticle;
    font-size: 1.5rem;
  }
}
.mainNav{

  @media (min-width: $breakpointMobile) {
  position: fixed;
    top: 40rem;
}
  position: fixed;
  top: 23rem;
  left: 2rem;
  display: flex;
  justify-content: flex-start;
  z-index: 9996;

  &__list {
    padding-inline-start: 0;
    display: flex;
    flex-flow: column;
    @media (min-width: $breakpointMobile) {
        display: none;
    }
    &__button {
      background: url("../asset/articlebg.webp") no-repeat fixed;
      cursor: pointer;
      border-radius: .5rem;
      padding: 1rem;
      border: none;
      box-shadow: $boxShadow;
      @include scaleHover;
      @include fontTitle;
      font-size: 1.5rem;

      &:hover {
        @include buttonGradientHover;
        animation: boxShadowHover 300ms forwards;
      }
    }
  }
}

.training, .experience, .language, .softSkills, .interest {
  @media(min-width: $breakpointMobile) {
    margin-left: 5%;
    transform: translateX(0);
    max-height: unset;
  }
  max-width: 1440px;
  width: 100%;
  transform: translateX(200%);
  max-height: 0;
  margin-left: 40%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  li {
    padding-inline-start: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.language {

  h3 {
    margin-left: 3rem;
  }
  img {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }
  ul {
    @media(min-width: $breakpointMobile) {
      flex-flow: column;
      align-items: center;
    }
    display: flex;
    justify-content: space-around;
  }
}

