@import '../Utils/variables.scss';
@import '../Utils/mixins.scss';
@import '../Utils/_keyframes.scss';

main {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-flow: wrap;
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  @include fontTitle;
  font-weight: 700;
  font-size: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  transform: scale(1);
  transition: 200ms ease-in;
}

h3 {
  @include  fontSubtitle;
  font-weight: 700;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

li {
  @include  fontArticle;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  flex-flow: column;
  padding-right: 1rem;
}


strong {
  font-weight: 700;
}

em {
  font-style: oblique;
}

.training, .experience {
@include cardBody;
  width: 48%;
}

.language, .softSkills {
   @include cardBody;
  width: 30%;
 }

  .interest {
    @include cardBody;
  width: 50%;
  }